div.card{
  min-height: 905.8px;
  border-color: #daa520;
  background: #000;
  padding-top: 200px;
}

div.card-title.h5{
  min-height: 96px;
}

p.card-text{
  min-height: 400.05px;
}

img.card-img-top{
  padding-bottom: 10px;;
  min-height: 270.75px;
}

