div.update-profile.card{
  min-height: fit-content;
  padding: 10px;
  border-color: #daa520;
  background: #000;
}


div.card,
div.favorite-movie.card-content.card {
  min-height: 350px;
  min-width: 172px;
  padding: 10px;
  border-color: #daa520;
  background: #000;
}

img.card-img-top.fav-poster,
div.favorite-movie.card-content.card  {
  padding: 10px;
  border-color: #daa520;
  background: #000;
  height: 220px;
  width: 150px;
  display: block;
}

div.col{
  padding: 50px;
}
