div.card{
  max-height: 1000px;
  padding: 10px;
  border-color: #daa520;
  background: #000;
}

img.img-fluid{
  height: 270px;
  width: 200px;
  display: block;
  align-items:center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 40px;
}